W11 - Pre-launch (sub-workflow).json
{
  "name": "W11 - Pre-lancio (sotto-flusso)",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        48,
        112
      ],
      "id": "49f9e98c-8117-4d6b-ac5e-c38373d5bcbc",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "content": "Qui arriva la chiamata del workflow principale e questo sotto-flusso ha inizio!",
        "height": 240,
        "width": 192,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        16
      ],
      "id": "652a8155-e9ca-46ed-b8b9-e548c1a1fad3",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "danielefiordilino54@gmail.com",
          "mode": "list",
          "cachedResultName": "danielefiordilino54@gmail.com"
        },
        "additionalFields": {
          "attendees": [],
          "description": "={{ $json.url }}",
          "summary": "={{ $json.name }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        1200,
        112
      ],
      "id": "d0896e8f-6dfb-4ed8-89c0-58e790800e8d",
      "name": "Create an event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "gAfWcHLFXoqe9CuY",
          "name": "Google Calendar OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "28326325-9286-8014-9273-fe500e0da51b",
          "mode": "list",
          "cachedResultName": "Database n8n",
          "cachedResultUrl": "https://www.notion.so/28326325928680149273fe500e0da51b"
        },
        "title": "Campagna pubblicitaria - Pre-lancio",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Descrizione|rich_text",
              "textContent": "Fase di \"pre-lancio\" della campagna pubblicitaria legata all'argomento \"lampadine innovative\"."
            },
            {
              "key": "Data di creazione|date",
              "date": "={{ $now }}"
            }
          ]
        },
        "blockUi": {
          "blockValues": [
            {
              "type": "heading_2",
              "textContent": "={{ $json.output.idea1_titolo }}"
            },
            {
              "type": "heading_3",
              "textContent": "={{ $json.output.idea1_sottotitolo }}"
            },
            {
              "textContent": "={{ $json.output.idea1_sezione }}"
            },
            {
              "type": "heading_2",
              "textContent": "={{ $json.output.idea2_titolo }}"
            },
            {
              "textContent": "={{ $json.output.idea2_sezione }}"
            },
            {
              "type": "heading_2",
              "textContent": "={{ $json.output.idea3_titolo }}"
            },
            {
              "textContent": "={{ $json.output.idea3_sezione }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        976,
        112
      ],
      "id": "18e6b3be-a95d-41bd-a1fe-58f4befbbf07",
      "name": "Create a database page",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000,
      "credentials": {
        "notionApi": {
          "id": "X1SQhT3BoO32u9AE",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Il tuo obiettivo è generare i contenuti completi per la fase cruciale di \"pre-lancio\", basandoti sulle seguenti richieste operative:\n\n--- RICHIESTE OPERATIVE (Fase Pre-Lancio) ---\n{{ $json.piano_editoriale }}\n--- FINE RICHIESTE ---\n\nGenera tre contenuti distinti e orientati alla conversione:\n1.  **Idea 1: Copy per Landing Page/Countdown:** Scrivi un titolo d'impatto e un breve paragrafo (max 4 frasi) che accompagni un countdown o un pre-ordine. Il testo deve comunicare un beneficio esclusivo e l'urgenza di agire subito.\n2.  **Idea 2: Soggetto e Corpo Email (Offerta Esclusiva):** Crea il soggetto e il corpo di una email \"Last Call\" destinata alla lista d'attesa. L'email deve specificare l'offerta Early Bird (es. \"Sconto 30% solo per le prossime 48 ore\") e un Call to Action (CTA) in grassetto.\n3.  **Idea 3: Testo per Annuncio Social (FOMO):** Scrivi un copy molto breve e diretto (max 200 caratteri) per un annuncio su Instagram/Facebook, da affiancare a un'immagine del prodotto (es. \"Solo 500 pezzi disponibili al lancio. Non perdere la luce.\").\n\nApplica un tono di voce che sia **Deciso, Persuasivo e Orientato all'Azione**, in linea con l'obiettivo di conversione finale.\n\nDopo aver generato il contenuto, ma priva di aver effettuato il parsing in output, usa il tool per richiedere la revisione del suddetto contenuto.",
        "options": {
          "systemMessage": "=Sei un Copywriter e Growth Hacker specializzato in strategie di Pre-Lancio e Conversion. Il tuo compito è generare contenuti diretti, persuasivi e ad alta conversione, volti a incentivare l'azione immediata (pre-ordine, iscrizione, countdown).\nESEMPIO FORMATO DI OUTPUT:\n{\n\t\"idea1_titolo\": \"Idea 1: Copy per Landing Page/Countdown\",\n    \"idea1_sottotitolo\": \"Titolo d'impatto che accompagni un countdown o un pre-ordine\",\n\t\"idea1_sezione\": \"Breve paragrafo (max 4 frasi) che accompagni un countdown o un pre-ordine\",\n    \"idea2_titolo\": \"Idea 2: Soggetto e Corpo Email (Offerta Esclusiva)\",\n    \"idea2_sezione\": \"Soggetto e corpo di una email 'Last Call'\",\n    \"idea3_titolo\": \"Idea 3: Testo per Annuncio Social (FOMO)\",\n    \"idea3_sezione\": \"Copy molto breve e diretto (max 200 caratteri)\"\n}",
          "maxIterations": 3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        272,
        112
      ],
      "id": "a3590640-2bd9-44fe-b19b-70d58c92f479",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        288,
        336
      ],
      "id": "68540139-0289-40f4-9a3b-5b432cd8b70d",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "M5znk5f1CeiRvNeL",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"idea1_titolo\": \"Idea 1: Copy per Landing Page/Countdown\",\n    \"idea1_sottotitolo\": \"Titolo d'impatto che accompagni un countdown o un pre-ordine\",\n\t\"idea1_sezione\": \"Breve paragrafo (max 4 frasi) che accompagni un countdown o un pre-ordine\",\n    \"idea2_titolo\": \"Idea 2: Soggetto e Corpo Email (Offerta Esclusiva)\",\n    \"idea2_sezione\": \"Soggetto e corpo di una email 'Last Call'\",\n    \"idea3_titolo\": \"Idea 3: Testo per Annuncio Social (FOMO)\",\n    \"idea3_sezione\": \"Copy molto breve e diretto (max 200 caratteri)\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        704,
        336
      ],
      "id": "77464da8-feeb-42d9-bff5-2637047a21d1",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "This tool has the task of checking and refining the content generated by the main AI Agent node.\nThis tool MUST be used IMMEDIATELY after generating the requested content and MANDATORY before parsing it out.",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=Esegui la revisione del seguente testo applicando scrupolosamente le linee guida per il Tono di Voce.\n\nTONO DI VOCE DA APPLICARE (Linee Guida):\n---\n{{ $json.brand_tone }}\n---\n\nRestituisci ESCLUSIVAMENTE il testo rivisto e finale che aderisce perfettamente alle linee guida del brand."
            }
          ]
        },
        "simplify": false,
        "options": {
          "systemMessage": "=Sei un'**Editor di Brand** e specialista di **Tone of Voice (ToV)**. Il tuo ruolo esclusivo è garantire la coerenza e l'aderenza ai contenuti di marketing forniti. Il tuo compito è analizzare un testo grezzo e revisionarlo interamente applicando rigorosamente le linee guida del brand-tone che ti verranno fornite.  REGOLE DI ESECUZIONE: 1.  Concentrati sulla personalità, lo stile e il vocabolario definito nelle linee guida del ToV. 2.  Assicurati che il contenuto finale sia in linea con gli obiettivi di comunicazione originali. 3.  Restituisci **ESCLUSIVAMENTE** il testo rivisto e corretto. 4.  NON includere commenti, introduzioni come \"Ecco il testo rivisto\", o spiegazioni sulla revisione. La tua risposta deve essere il contenuto finale pronto per la pubblicazione."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.googleGeminiTool",
      "typeVersion": 1,
      "position": [
        416,
        336
      ],
      "id": "ab52d55c-14f4-4ce7-8c42-89ec94d621e6",
      "name": "Agente revisore del contenuto",
      "credentials": {
        "googlePalmApi": {
          "id": "M5znk5f1CeiRvNeL",
          "name": "Google Gemini(PaLM) Api account"
        }
      },
      "notes": "Un nodo IA utilizzato come Tool che revisiona il contenuto generato dal nodo principale."
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Esegui il parsing di questi dati: {{ JSON.stringify($json.output) }}.\nIl formato di output dovrà essere quello specificato dall'Output Parser.",
        "hasOutputParser": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        624,
        112
      ],
      "id": "f3809381-5414-4b0b-9c11-d1a06daa8bc0",
      "name": "Parser Chain"
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "brand_tone": "Innovativo, Sostenibile, Benessere.\nManifesto: Illuminare il futuro, rispettando il presente, migliorando il tuo benessere visivo.\nStile: Comunica con il \"tu\" per un approccio diretto e personale.",
          "piano_editoriale": "Fase 1: Engagement Iniziale (Awareness)\nObiettivo: Ispirare e far riflettere sull'importanza della luce.\nContenuto: \"Hai mai pensato a quanto la luce influenzi la tua giornata? Immagina spazi che si adattano al tuo umore, che migliorano la tua concentrazione e proteggono i tuoi occhi. Inizia un viaggio con noi alla scoperta del potere della luce, senza ancora svelare la nostra soluzione, ma concentrandoci sull'esperienza e sui problemi risolvibili con un'illuminazione consapevole.\"\n\nFase 2: Hype (Consideration)\nObiettivo: Generare curiosità e rivelare i differenziatori chiave.\nContenuto: \"È tempo di rivelare la magia dietro la luce perfetta. Ti presentiamo un design rivoluzionario che unisce estetica minimalista e tecnologia all'avanguardia. Scopri i materiali sostenibili che utilizziamo, i segreti della nostra luce senza sfarfallio e come abbiamo ingegnerizzato il benessere visivo in ogni singolo watt. Ti portiamo in un'anteprima esclusiva sul \"dietro le quinte\" della nostra produzione, mostrando l'attenzione al dettaglio e l'impegno per la sostenibilità.\"\n\nFase 3: Pre-Lancio (Conversion Warm-up)\nObiettivo: Creare urgenza, esclusività e preparare alla conversione.\nContenuto: \"Il futuro dell'illuminazione è quasi qui. Manca pochissimo al lancio ufficiale della nostra nuova linea di lampadine innovative! Entra nella nostra lista d'attesa VIP per accedere in anteprima al lancio, ricevere offerte esclusive e non perdere l'opportunità di trasformare radicalmente i tuoi spazi con un'illuminazione che si prende cura di te e del pianeta. Il tempo stringe, l'innovazione ti aspetta. Non farti sfuggire questa luce.\"\n"
        }
      }
    ],
    "AI Agent": [
      {
        "json": {
          "output": {
            "idea1_titolo": "Idea 1: Copy per Landing Page/Countdown",
            "idea1_sottotitolo": "Ultimi Giorni per Accedere all'Esclusività!",
            "idea1_sezione": "Mancano poche ore al lancio! Unisciti ai nostri VIP per accedere in anteprima, sbloccare offerte esclusive e rivoluzionare i tuoi spazi. Questa è l'ultima chiamata per garantirti la luce che si prende cura di te e del pianeta. Non perdere l'opportunità unica.",
            "idea2_titolo": "Idea 2: Soggetto e Corpo Email (Offerta Esclusiva)",
            "idea2_sezione": "Soggetto: ULTIMA CHIAMATA VIP: Sconto Esclusivo del 30% - Solo 48 Ore!\n\nCorpo: Ciao [Nome],\nIl momento che aspettavi è arrivato! Essendo parte della nostra lista VIP, hai accesso esclusivo alla nostra offerta Early Bird: un incredibile **sconto del 30%** sulla nostra nuova linea di illuminazione innovativa. Ma affrettati, questa offerta è valida solo per le **prossime 48 ore!**\nÈ la tua ultima possibilità per trasformare i tuoi spazi con design, sostenibilità e benessere visivo. Non perdere questa occasione unica.\n**AGISCI ORA E ACQUISTA CON IL 30% DI SCONTO!**\n(Link al sito)",
            "idea3_titolo": "Idea 3: Testo per Annuncio Social (FOMO)",
            "idea3_sezione": "L'attesa è quasi finita! Solo 500 pezzi disponibili al lancio. Non perdere l'occasione di illuminare il tuo futuro. #InnovazioneLuce #Scarsità"
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a database page": {
      "main": [
        [
          {
            "node": "Create an event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Parser Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Parser Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Parser Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Agente revisore del contenuto": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Parser Chain": {
      "main": [
        [
          {
            "node": "Create a database page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "00733d9d-720f-43e9-be9d-a5b26daa96a8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "285e6b7035d57255323414f2adfae0530b9d9fde4f34f40ef0775256340f9783"
  },
  "id": "uXCFtN4u03j5SLw6",
  "tags": [
    {
      "updatedAt": "2026-04-04T23:05:54.660Z",
      "createdAt": "2026-04-04T23:05:54.660Z",
      "id": "TOSUCdPEgLlufg6Q",
      "name": "Google Calendar"
    },
    {
      "updatedAt": "2026-04-02T03:02:21.287Z",
      "createdAt": "2026-04-02T03:02:21.287Z",
      "id": "gqH2eJsEuq2iGZkb",
      "name": "Notion"
    },
    {
      "updatedAt": "2026-04-02T03:02:46.710Z",
      "createdAt": "2026-04-02T03:02:46.710Z",
      "id": "oR1knSWoKLbEg04u",
      "name": "IA"
    },
    {
      "updatedAt": "2026-04-05T05:27:11.862Z",
      "createdAt": "2026-04-04T22:54:02.888Z",
      "id": "rk5ptMN2qRcFq2Ao",
      "name": "Sotto-flussi"
    }
  ]
}
